.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.centeredBox {
  width: 30vw;
  height: 30vh;
  margin: 20vh auto 0;
}