.gameArea {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.gameAreaBoard {
  width: 100%;
  margin: 1rem;
}

.boat {
  background-color: #bada55;
  width: 3vw;
  height: 3vh;
}
